
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.gradient-blur {
  position: absolute;
  width: 330px;
  height: 390px;
  border-radius: 50%;
  background: radial-gradient(
    circle at 30% 30%,
    #FFFFFF 10%,
    #FFD166 20%,
    #FF5035 40%,
    #E6264F 70%,
    transparent 100%
  );
  filter: blur(37px);
  animation: rotate 10s linear infinite;
}

.white-circle {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 0 60px rgba(255, 255, 255, 0.3);
}
 .music-icon {
    color: #FF5035;
  }

/* 회전 애니메이션 */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}