* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #282c34;
    color: white;
}
#root {
    width: 100vw;
    height: 100vh;
}
video {
    width: 80%;
    max-width: 640px;
    border: 3px solid #61dafb;
    border-radius: 10px;
}